/* You can add global styles to this file, and also import other style files */
.contactme .section-subheading{
    font-style:italic;

}
.contactme-result .section-subheading{
    font-style:italic;
    color: #FFF !important;

}
